/* Background */

.auth-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

    background:linear-gradient(
        135deg,
        #0f172a,
        #1d4ed8
    );

}


/* Card */

.auth-card{

    width:430px;

    background:rgba(255,255,255,.96);

    padding:45px;

    border-radius:25px;

    box-shadow:0 25px 60px rgba(0,0,0,.25);

    animation:slideUp .7s ease;

    text-align:center;

}


/* Heading */

.auth-card h2{

    margin-top:30px;

    margin-bottom:8px;

    font-size:30px;

    font-weight:700;

    color:#0f172a;

}


/* Description */

.description{

    color:#64748b;

    margin-bottom:30px;

    font-size:15px;

}


/* Form */

.auth-card form{

    display:flex;

    flex-direction:column;

}


/* Inputs */

.auth-card input{

    width:100%;

    padding:15px;

    margin-top:14px;

    border:1px solid #cbd5e1;

    border-radius:12px;

    font-size:15px;

    outline:none;

    transition:.3s;

    box-sizing:border-box;

}


.auth-card input:focus{

    border-color:#2563eb;

    box-shadow:0 0 0 4px rgba(37,99,235,.15);

}


/* Error */

.error{

    color:#dc2626;

    font-size:13px;

    text-align:left;

    margin-top:5px;

    margin-bottom:2px;

    padding-left:5px;

}


/* Button */

.auth-card button{

    width:100%;

    padding:15px;

    margin-top:28px;

    border:none;

    border-radius:12px;

    background:linear-gradient(
        135deg,
        #2563eb,
        #06b6d4
    );

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}


.auth-card button:hover{

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(37,99,235,.35);

}


/* Bottom Text */

.switch{

    margin-top:28px;

    color:#64748b;

    font-size:15px;

}


.switch a{

    color:#2563eb;

    font-weight:600;

    text-decoration:none;

    margin-left:6px;

    transition:.3s;

}


.switch a:hover{

    color:#1d4ed8;

    text-decoration:underline;

}


/* Animation */

@keyframes slideUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}


/* Responsive */

@media(max-width:500px){

.auth-card{

    width:95%;

    padding:30px;

}

.auth-card h2{

    font-size:26px;

}

}